.main-container {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 12fr 1fr;
}

.row-one,
.row-two,
.row-three {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    text-align: center;
}

.container-padding {
    margin: 12px;
    border: 1px dashed #016c8d;
    background-color: aliceblue;
}

p, h1 {
    text-align: center;
    font-size: 110%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
}

h1 {
    font-size: 160%;
    font: bold;
}

/* .text-center {
    text-align: center;
    font-size: 110%;
    font-family: "Bellefair";
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.text-center:hover {
    color: white;
    background-color: #016c8d;
} */

.r2c2::after {
    content: " ";
    background-color: #016c8d;
    width: 150px;
    height: 2px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.r2c2 {
    margin-bottom: 20px;
    word-spacing: 2px;
}

.bulldog {
    height: 120px;
    width: 160px;
    margin-top: 15px;
}

.lorem {
    margin-right: 10px;
    margin-left: 10px;
}

.alter:hover {
    background-color: rgb(223, 0, 0);
    color: white;
}

.paragraph {
    color: red;
    border-bottom: 2px solid #016c8d;
    margin: 10px 150px 10px 150px;
}

.hover {
    margin-top: 10px;
}

.bulldog.hover {
    display: block;
}

.main-outlet {
    display: none;
}