.row-one,
.row-two,
.row-three {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    text-align: center;
    height: 100%;
}

.container-padding {
    margin: 12px;
    border: 1px dashed #016c8d;
    background-color: aliceblue;
}

p, h1 {
    /* text-align: center; */
    font-size: 110%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
}

h1 {
    font-size: 160%;
    font: bold;
}

.r2c2::after {
    content: " ";
    background-color: #016c8d;
    width: 150px;
    height: 2px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.r2c2 {
    margin-bottom: 20px;
    word-spacing: 2px;
}


.lorem {
    margin-right: 10px;
    margin-left: 10px;
}

.alter:hover {
    background-color: rgb(223, 0, 0);
    color: white;
}


.hover {
    margin-top: 10px;
}

.bulldog.hover {
    display: block;
}

/* * {
    margin: 0;
    position: relative;
    padding: 0;
} */

html,
body {
    width: 100vw;
    height: 100vh;
}

.table-one {
    width: 100%;
    border: 1px solid #CCC;
}

.table-one > tbody > tr > td {
    border: 1px solid #CCC;
    min-height: 50px;
    padding: .5em;
}

.add-button {
    font-size: bold;
    font-family: 'Times New Roman', Times, serif;
}

/* .pull-right {
    float: right; 
} */

.main-outlet {
    display: none;
}