.row-one,
.row-two,
.row-three {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    text-align: center;
    height: 100%;
}

.container-padding {
    margin: 12px;
    border: 1px dashed #016c8d;
    background-color: aliceblue;
}

p, h1 {
    text-align: center;
    font-size: 110%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
}

h1 {
    font-size: 160%;
    font: bold;
}

.paragraph {
    color: red;
    border-bottom: 2px solid #016c8d;
    margin: 10px 150px 10px 150px;
}

* {
    margin: 0;
    position: relative;
    padding: 0;
}

html,
body {
    width: 100vw;
    height: 100vh;
}