.row-one,
.row-two,
.row-three {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    text-align: center;
    height: 100%;
}

.container-padding {
    margin: 12px;
    border: 1px dashed #016c8d;
    background-color: aliceblue;
}

p, h1 {
    /* text-align: center; */
    font-size: 110%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
}

h1 {
    font-size: 160%;
    font: bold;
}

.r2c2::after {
    content: " ";
    background-color: #016c8d;
    width: 150px;
    height: 2px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.r2c2 {
    margin-bottom: 20px;
    word-spacing: 2px;
}

* {
    margin: 0;
    position: relative;
    padding: 0;
}

html,
body {
    width: 100vw;
    height: 100vh;
}

.text-center:hover {
    color: red;
}

.nav-buttons {
    margin-right: 10px;
}

.toolbar {
    height: 100%;
}